.box {
  width: 600px;
  padding: 50px;
  margin: 100px;
  border: 10px solid rgb(70, 0, 0);
  background-color: rgb(179, 21, 21);
  text-align: center;
}

.button {
  text-align: center;
  color: #710c09;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-image: url("https://images.pexels.com/photos/73873/star-clusters-rosette-nebula-star-galaxies-73873.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #070504;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  text-align: center;
}
